div{
	width:360px;
	height:360px;
}

.cell {
	width:30px;
	height:30px;
	background-color:7018EF;
	border:2px solid white;
	float:left;
}

.snake{
	background-color:FF9A19;
}

.apple {
	background-color:14CC40;
}
